/* Start of contentCreatorCard css ------------------------------------------------------------------*/
.content-creator-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;
  padding: 16px;
}

.content-creator-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-creator-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.content-creator-card h2 {
  margin: 0;
  font-size: 1.5em;
}

.content-creator-card p {
  font-size: 1em;
  color: #555;
}

.content-creator-card a {
  color: #007BFF;
  text-decoration: none;
}

.content-creator-grid::after { /* Centers the last contentCreator if odd # of ppl */
  content: '';
  display: block;
}

.content-creator-grid > *:nth-child(odd):last-child {
  grid-column: 1 / -1;
  justify-self: center;
} 
/* END of contentCreatorCard css -------------------------------------------------------------------------------*/

h1 {
  text-align: center;
}

/* Navigation Header Bar -------------------------------------------------------------------------------*/
header {
  background-image: url('./assets/earth.jpg'); 
  background-size: cover;
  background-position: center;
  padding: 90px;
  color: white;
}
header .nav-container {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav li {
  margin: 0 10px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  transition: background-color 0.3s, border-color 0.3s;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
  border-color: rgba(255, 255, 255, 0.7); /* Lighter border on hover */
}
/* END of Navigation Header Bar -------------------------------------------------------------------------------*/